.mybtn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.6875rem 2.1875rem;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,.2);
    border-radius: 17px;
    display: inline-block;


    &--blue {
    background-color:#4786ff;
    color: white;
     }
}

.mybtn:link,
.mybtn:visited {
    transition: all .2s;
    position: relative;
    font-size: 0.8rem;
}

.mybtn:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.mybtn:active {
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.mybtn__white {
    background-color: $white;
    color: $textColor;
}

.mybtn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 17px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mybtn__white::after {
    background-color: $white;
}

.mybtn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    -moz-transform: scaleX(1.4) scaleY(1.6);
    -ms-transform: scaleX(1.4) scaleY(1.6);
    -o-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mybtn__animated {
    animation: moveInBottom .5s ease-out 1.75s;
    animation-fill-mode: backwards;
}
.getintouch {
    float: right;
    padding: .75rem 1.2rem;
    color: white;
    text-decoration: none;
}